#submit, #fill, #needed, #urgency, #country, #post, #other-country {font-family: 'Kiwi Maru', serif;}

input[type=text], [type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #242124;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #ffffff;
  outline: none;
}

input[type=submit] {
  background-color: #242124;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #242124;
}

.container {
  border-radius: 5px;
  background-color: #fcf8fe;
  padding: 20px;
}
