* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 500px) {
.column {
   width: 100%;
 }
}

.column img {
  background: #F1F1FA;
  display: block;
  border: 1px black solid;}
