*/
body { 
     font-family: 'Kiwi Maru', serif; 
     color: $(body.text.color); 
     background: $(body.background); 
     padding: 0 $(content.shadow.spread) $(content.shadow.spread) $(content.shadow.spread); 
     $(body.background.override) margin: 0; 
     padding: 0; 
    }
 
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family: 'Kiwi Maru', serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.sidsites-serif{font-family:serif}.sidsites-sans-serif{font-family:sans-serif}.sidsites-cursive{font-family:cursive}.sidsites-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family: 'Kiwi Maru', serif;font-weight:400;margin:10px 0}.sidsites-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.sidsites-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.sidsites-table,.sidsites-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.sidsites-table-all{border:1px solid #ccc}
.sidsites-bordered tr,.sidsites-table-all tr{border-bottom:1px solid #ddd}.sidsites-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.sidsites-table-all tr:nth-child(odd){background-color:#fff}.sidsites-table-all tr:nth-child(even){background-color:#f1f1f1}
.sidsites-hoverable tbody tr:hover,.sidsites-ul.sidsites-hoverable li:hover{background-color:#ccc}.sidsites-centered tr th,.sidsites-centered tr td{text-align:center}
.sidsites-table td,.sidsites-table th,.sidsites-table-all td,.sidsites-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.sidsites-table th:first-child,.sidsites-table td:first-child,.sidsites-table-all th:first-child,.sidsites-table-all td:first-child{padding-left:16px}
.sidsites-btn,.sidsites-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.sidsites-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.sidsites-btn,.sidsites-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.sidsites-disabled,.sidsites-btn:disabled,.sidsites-button:disabled{cursor:not-allowed;opacity:0.3}.sidsites-disabled *,:disabled *{pointer-events:none}
.sidsites-btn.sidsites-disabled:hover,.sidsites-btn:disabled:hover{box-shadow:none}
.sidsites-badge,.sidsites-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.sidsites-badge{border-radius:50%}
.sidsites-ul{list-style-type:none;padding:0;margin:0}.sidsites-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.sidsites-ul li:last-child{border-bottom:none}
.sidsites-tooltip,.sidsites-display-container{position:relative}.sidsites-tooltip .sidsites-text{display:none}.sidsites-tooltip:hover .sidsites-text{display:inline-block}
.sidsites-ripple:active{opacity:0.5}.sidsites-ripple{transition:opacity 0s}
.sidsites-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.sidsites-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.sidsites-dropdown-click,.sidsites-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.sidsites-dropdown-hover:hover .sidsites-dropdown-content{display:block}
.sidsites-dropdown-hover:first-child,.sidsites-dropdown-click:hover{background-color:#ccc;color:#000}
.sidsites-dropdown-hover:hover > .sidsites-button:first-child,.sidsites-dropdown-click:hover > .sidsites-button:first-child{background-color:#ccc;color:#000}
.sidsites-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.sidsites-check,.sidsites-radio{width:24px;height:24px;position:relative;top:6px}
.sidsites-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.sidsites-bar-block .sidsites-dropdown-hover,.sidsites-bar-block .sidsites-dropdown-click{width:100%}
.sidsites-bar-block .sidsites-dropdown-hover .sidsites-dropdown-content,.sidsites-bar-block .sidsites-dropdown-click .sidsites-dropdown-content{min-width:100%}
.sidsites-bar-block .sidsites-dropdown-hover .sidsites-button,.sidsites-bar-block .sidsites-dropdown-click .sidsites-button{width:100%;text-align:left;padding:8px 16px}
.sidsites-main,#main{transition:margin-left .4s}
.sidsites-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.sidsites-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.sidsites-bar{width:100%;overflow:hidden}.sidsites-center .sidsites-bar{display:inline-block;width:auto}
.sidsites-bar .sidsites-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.sidsites-bar .sidsites-dropdown-hover,.sidsites-bar .sidsites-dropdown-click{position:static;float:left}
.sidsites-bar .sidsites-button{white-space:normal}
.sidsites-bar-block .sidsites-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.sidsites-bar-block.sidsites-center .sidsites-bar-item{text-align:center}.sidsites-block{display:block;width:100%}
.sidsites-responsive{display:block;overflow-x:auto}
.sidsites-container:after,.sidsites-container:before,.sidsites-panel:after,.sidsites-panel:before,.sidsites-row:after,.sidsites-row:before,.sidsites-row-padding:after,.sidsites-row-padding:before,
.sidsites-cell-row:before,.sidsites-cell-row:after,.sidsites-clear:after,.sidsites-clear:before,.sidsites-bar:before,.sidsites-bar:after{content:"";display:table;clear:both}
.sidsites-col,.sidsites-half,.sidsites-third,.sidsites-twothird,.sidsites-threequarter,.sidsites-quarter{float:left;width:100%}
.sidsites-col.s1{width:8.33333%}.sidsites-col.s2{width:16.66666%}.sidsites-col.s3{width:24.99999%}.sidsites-col.s4{width:33.33333%}
.sidsites-col.s5{width:41.66666%}.sidsites-col.s6{width:49.99999%}.sidsites-col.s7{width:58.33333%}.sidsites-col.s8{width:66.66666%}
.sidsites-col.s9{width:74.99999%}.sidsites-col.s10{width:83.33333%}.sidsites-col.s11{width:91.66666%}.sidsites-col.s12{width:99.99999%}
@media (min-width:601px){.sidsites-col.m1{width:8.33333%}.sidsites-col.m2{width:16.66666%}.sidsites-col.m3,.sidsites-quarter{width:24.99999%}.sidsites-col.m4,.sidsites-third{width:33.33333%}
.sidsites-col.m5{width:41.66666%}.sidsites-col.m6,.sidsites-half{width:49.99999%}.sidsites-col.m7{width:58.33333%}.sidsites-col.m8,.sidsites-twothird{width:66.66666%}
.sidsites-col.m9,.sidsites-threequarter{width:74.99999%}.sidsites-col.m10{width:83.33333%}.sidsites-col.m11{width:91.66666%}.sidsites-col.m12{width:99.99999%}}
@media (min-width:993px){.sidsites-col.l1{width:8.33333%}.sidsites-col.l2{width:16.66666%}.sidsites-col.l3{width:24.99999%}.sidsites-col.l4{width:33.33333%}
.sidsites-col.l5{width:41.66666%}.sidsites-col.l6{width:49.99999%}.sidsites-col.l7{width:58.33333%}.sidsites-col.l8{width:66.66666%}
.sidsites-col.l9{width:74.99999%}.sidsites-col.l10{width:83.33333%}.sidsites-col.l11{width:91.66666%}.sidsites-col.l12{width:99.99999%}}
.sidsites-rest{overflow:hidden}.sidsites-stretch{margin-left:-16px;margin-right:-16px}
.sidsites-content,.sidsites-auto{margin-left:auto;margin-right:auto}.sidsites-content{max-width:980px}.sidsites-auto{max-width:1140px}
.sidsites-cell-row{display:table;width:100%}.sidsites-cell{display:table-cell}
.sidsites-cell-top{vertical-align:top}.sidsites-cell-middle{vertical-align:middle}.sidsites-cell-bottom{vertical-align:bottom}
.sidsites-hide{display:none!important}.sidsites-show-block,.sidsites-show{display:block!important}.sidsites-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.sidsites-auto{max-width:95%}}
@media (max-width:600px){.sidsites-modal-content{margin:0 10px;width:auto!important}.sidsites-modal{padding-top:30px}
.sidsites-dropdown-hover.sidsites-mobile .sidsites-dropdown-content,.sidsites-dropdown-click.sidsites-mobile .sidsites-dropdown-content{position:relative}	
.sidsites-hide-small{display:none!important}.sidsites-mobile{display:block;width:100%!important}.sidsites-bar-item.sidsites-mobile,.sidsites-dropdown-hover.sidsites-mobile,.sidsites-dropdown-click.sidsites-mobile{text-align:center}
.sidsites-dropdown-hover.sidsites-mobile,.sidsites-dropdown-hover.sidsites-mobile .sidsites-btn,.sidsites-dropdown-hover.sidsites-mobile .sidsites-button,.sidsites-dropdown-click.sidsites-mobile,.sidsites-dropdown-click.sidsites-mobile .sidsites-btn,.sidsites-dropdown-click.sidsites-mobile .sidsites-button{width:100%}}
@media (max-width:768px){.sidsites-modal-content{width:500px}.sidsites-modal{padding-top:50px}}
@media (min-width:993px){.sidsites-modal-content{width:900px}.sidsites-hide-large{display:none!important}.sidsites-sidebar.sidsites-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.sidsites-hide-medium{display:none!important}}
@media (max-width:992px){.sidsites-sidebar.sidsites-collapse{display:none}.sidsites-main{margin-left:0!important;margin-right:0!important}.sidsites-auto{max-width:100%}}
.sidsites-top,.sidsites-bottom{position:fixed;width:100%;z-index:1}.sidsites-top{top:0}.sidsites-bottom{bottom:0}
.sidsites-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.sidsites-display-topleft{position:absolute;left:0;top:0}.sidsites-display-topright{position:absolute;right:0;top:0}
.sidsites-display-bottomleft{position:absolute;left:0;bottom:0}.sidsites-display-bottomright{position:absolute;right:0;bottom:0}
.sidsites-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.sidsites-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.sidsites-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.sidsites-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.sidsites-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.sidsites-display-container:hover .sidsites-display-hover{display:block}.sidsites-display-container:hover span.sidsites-display-hover{display:inline-block}.sidsites-display-hover{display:none}
.sidsites-display-position{position:absolute}
.sidsites-circle{border-radius:50%}
.sidsites-round-small{border-radius:2px}.sidsites-round,.sidsites-round-medium{border-radius:4px}.sidsites-round-large{border-radius:8px}.sidsites-round-xlarge{border-radius:16px}.sidsites-round-xxlarge{border-radius:32px}
.sidsites-row-padding,.sidsites-row-padding>.sidsites-half,.sidsites-row-padding>.sidsites-third,.sidsites-row-padding>.sidsites-twothird,.sidsites-row-padding>.sidsites-threequarter,.sidsites-row-padding>.sidsites-quarter,.sidsites-row-padding>.sidsites-col{padding:0 8px}
.sidsites-container,.sidsites-panel{padding:0.01em 16px}.sidsites-panel{margin-top:16px;margin-bottom:16px}
.sidsites-code,.sidsites-codespan{font-family:Consolas,"courier new";font-size:16px}
.sidsites-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.sidsites-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.sidsites-card,.sidsites-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.sidsites-card-4,.sidsites-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.sidsites-spin{animation:sidsites-spin 2s infinite linear}@keyframes sidsites-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.sidsites-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.sidsites-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.sidsites-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.sidsites-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.sidsites-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.sidsites-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.sidsites-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.sidsites-animate-input{transition:width 0.4s ease-in-out}.sidsites-animate-input:focus{width:100%!important}
.sidsites-opacity,.sidsites-hover-opacity:hover{opacity:0.60}.sidsites-opacity-off,.sidsites-hover-opacity-off:hover{opacity:1}
.sidsites-opacity-max{opacity:0.25}.sidsites-opacity-min{opacity:0.75}
.sidsites-greyscale-max,.sidsites-grayscale-max,.sidsites-hover-greyscale:hover,.sidsites-hover-grayscale:hover{filter:grayscale(100%)}
.sidsites-greyscale,.sidsites-grayscale{filter:grayscale(75%)}.sidsites-greyscale-min,.sidsites-grayscale-min{filter:grayscale(50%)}
.sidsites-sepia{filter:sepia(75%)}.sidsites-sepia-max,.sidsites-hover-sepia:hover{filter:sepia(100%)}.sidsites-sepia-min{filter:sepia(50%)}
.sidsites-tiny{font-size:10px!important}.sidsites-small{font-size:12px!important}.sidsites-medium{font-size:15px!important}.sidsites-large{font-size:18px!important}
.sidsites-xlarge{font-size:24px!important}.sidsites-xxlarge{font-size:36px!important}.sidsites-xxxlarge{font-size:48px!important}.sidsites-jumbo{font-size:64px!important}
.sidsites-left-align{text-align:left!important}.sidsites-right-align{text-align:right!important}.sidsites-justify{text-align:justify!important}.sidsites-center{text-align:center!important}
.sidsites-border-0{border:0!important}.sidsites-border{border:1px solid #ccc!important}
.sidsites-border-top{border-top:1px solid #ccc!important}.sidsites-border-bottom{border-bottom:1px solid #ccc!important}
.sidsites-border-left{border-left:1px solid #ccc!important}.sidsites-border-right{border-right:1px solid #ccc!important}
.sidsites-topbar{border-top:6px solid #ccc!important}.sidsites-bottombar{border-bottom:6px solid #ccc!important}
.sidsites-leftbar{border-left:6px solid #ccc!important}.sidsites-rightbar{border-right:6px solid #ccc!important}
.sidsites-section,.sidsites-code{margin-top:16px!important;margin-bottom:16px!important}
.sidsites-margin{margin:16px!important}.sidsites-margin-top{margin-top:16px!important}.sidsites-margin-bottom{margin-bottom:16px!important}
.sidsites-margin-left{margin-left:16px!important}.sidsites-margin-right{margin-right:16px!important}
.sidsites-padding-small{padding:4px 8px!important}.sidsites-padding{padding:8px 16px!important}.sidsites-padding-large{padding:12px 24px!important}
.sidsites-padding-16{padding-top:16px!important;padding-bottom:16px!important}.sidsites-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.sidsites-padding-32{padding-top:32px!important;padding-bottom:32px!important}.sidsites-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.sidsites-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.sidsites-padding-top-64{padding-top:64px!important}.sidsites-padding-top-48{padding-top:48px!important}
.sidsites-padding-top-32{padding-top:32px!important}.sidsites-padding-top-24{padding-top:24px!important}
.sidsites-left{float:left!important}.sidsites-right{float:right!important}
.sidsites-button:hover{color:#000!important;background-color:#ccc!important}
.sidsites-transparent,.sidsites-hover-none:hover{background-color:transparent!important}
.sidsites-hover-none:hover{box-shadow:none!important}
/* Colors */
.sidsites-amber,.sidsites-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.sidsites-aqua,.sidsites-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.sidsites-blue,.sidsites-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.sidsites-light-blue,.sidsites-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.sidsites-brown,.sidsites-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.sidsites-cyan,.sidsites-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.sidsites-blue-grey,.sidsites-hover-blue-grey:hover,.sidsites-blue-gray,.sidsites-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.sidsites-green,.sidsites-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.sidsites-light-green,.sidsites-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.sidsites-indigo,.sidsites-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.sidsites-khaki,.sidsites-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.sidsites-lime,.sidsites-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.sidsites-orange,.sidsites-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.sidsites-deep-orange,.sidsites-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.sidsites-pink,.sidsites-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.sidsites-purple,.sidsites-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.sidsites-deep-purple,.sidsites-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.sidsites-red,.sidsites-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.sidsites-sand,.sidsites-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.sidsites-teal,.sidsites-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.sidsites-yellow,.sidsites-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.sidsites-white,.sidsites-hover-white:hover{color:#000!important;background-color:#fff!important}
.sidsites-black,.sidsites-hover-black:hover{color:#fff!important;background-color:#000!important}
.sidsites-grey,.sidsites-hover-grey:hover,.sidsites-gray,.sidsites-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.sidsites-light-grey,.sidsites-hover-light-grey:hover,.sidsites-light-gray,.sidsites-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.sidsites-dark-grey,.sidsites-hover-dark-grey:hover,.sidsites-dark-gray,.sidsites-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.sidsites-pale-red,.sidsites-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.sidsites-pale-green,.sidsites-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.sidsites-pale-yellow,.sidsites-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.sidsites-pale-blue,.sidsites-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.sidsites-text-amber,.sidsites-hover-text-amber:hover{color:#ffc107!important}
.sidsites-text-aqua,.sidsites-hover-text-aqua:hover{color:#00ffff!important}
.sidsites-text-blue,.sidsites-hover-text-blue:hover{color:#2196F3!important}
.sidsites-text-light-blue,.sidsites-hover-text-light-blue:hover{color:#87CEEB!important}
.sidsites-text-brown,.sidsites-hover-text-brown:hover{color:#795548!important}
.sidsites-text-cyan,.sidsites-hover-text-cyan:hover{color:#00bcd4!important}
.sidsites-text-blue-grey,.sidsites-hover-text-blue-grey:hover,.sidsites-text-blue-gray,.sidsites-hover-text-blue-gray:hover{color:#607d8b!important}
.sidsites-text-green,.sidsites-hover-text-green:hover{color:#4CAF50!important}
.sidsites-text-light-green,.sidsites-hover-text-light-green:hover{color:#8bc34a!important}
.sidsites-text-indigo,.sidsites-hover-text-indigo:hover{color:#3f51b5!important}
.sidsites-text-khaki,.sidsites-hover-text-khaki:hover{color:#b4aa50!important}
.sidsites-text-lime,.sidsites-hover-text-lime:hover{color:#cddc39!important}
.sidsites-text-orange,.sidsites-hover-text-orange:hover{color:#ff9800!important}
.sidsites-text-deep-orange,.sidsites-hover-text-deep-orange:hover{color:#ff5722!important}
.sidsites-text-pink,.sidsites-hover-text-pink:hover{color:#e91e63!important}
.sidsites-text-purple,.sidsites-hover-text-purple:hover{color:#9c27b0!important}
.sidsites-text-deep-purple,.sidsites-hover-text-deep-purple:hover{color:#673ab7!important}
.sidsites-text-red,.sidsites-hover-text-red:hover{color:#f44336!important}
.sidsites-text-sand,.sidsites-hover-text-sand:hover{color:#fdf5e6!important}
.sidsites-text-teal,.sidsites-hover-text-teal:hover{color:#009688!important}
.sidsites-text-yellow,.sidsites-hover-text-yellow:hover{color:#d2be0e!important}
.sidsites-text-white,.sidsites-hover-text-white:hover{color:#fff!important}
.sidsites-text-black,.sidsites-hover-text-black:hover{color:#000!important}
.sidsites-text-grey,.sidsites-hover-text-grey:hover,.sidsites-text-gray,.sidsites-hover-text-gray:hover{color:#757575!important}
.sidsites-text-light-grey,.sidsites-hover-text-light-grey:hover,.sidsites-text-light-gray,.sidsites-hover-text-light-gray:hover{color:#f1f1f1!important}
.sidsites-text-dark-grey,.sidsites-hover-text-dark-grey:hover,.sidsites-text-dark-gray,.sidsites-hover-text-dark-gray:hover{color:#3a3a3a!important}
.sidsites-border-amber,.sidsites-hover-border-amber:hover{border-color:#ffc107!important}
.sidsites-border-aqua,.sidsites-hover-border-aqua:hover{border-color:#00ffff!important}
.sidsites-border-blue,.sidsites-hover-border-blue:hover{border-color:#2196F3!important}
.sidsites-border-light-blue,.sidsites-hover-border-light-blue:hover{border-color:#87CEEB!important}
.sidsites-border-brown,.sidsites-hover-border-brown:hover{border-color:#795548!important}
.sidsites-border-cyan,.sidsites-hover-border-cyan:hover{border-color:#00bcd4!important}
.sidsites-border-blue-grey,.sidsites-hover-border-blue-grey:hover,.sidsites-border-blue-gray,.sidsites-hover-border-blue-gray:hover{border-color:#607d8b!important}
.sidsites-border-green,.sidsites-hover-border-green:hover{border-color:#4CAF50!important}
.sidsites-border-light-green,.sidsites-hover-border-light-green:hover{border-color:#8bc34a!important}
.sidsites-border-indigo,.sidsites-hover-border-indigo:hover{border-color:#3f51b5!important}
.sidsites-border-khaki,.sidsites-hover-border-khaki:hover{border-color:#f0e68c!important}
.sidsites-border-lime,.sidsites-hover-border-lime:hover{border-color:#cddc39!important}
.sidsites-border-orange,.sidsites-hover-border-orange:hover{border-color:#ff9800!important}
.sidsites-border-deep-orange,.sidsites-hover-border-deep-orange:hover{border-color:#ff5722!important}
.sidsites-border-pink,.sidsites-hover-border-pink:hover{border-color:#e91e63!important}
.sidsites-border-purple,.sidsites-hover-border-purple:hover{border-color:#9c27b0!important}
.sidsites-border-deep-purple,.sidsites-hover-border-deep-purple:hover{border-color:#673ab7!important}
.sidsites-border-red,.sidsites-hover-border-red:hover{border-color:#f44336!important}
.sidsites-border-sand,.sidsites-hover-border-sand:hover{border-color:#fdf5e6!important}
.sidsites-border-teal,.sidsites-hover-border-teal:hover{border-color:#009688!important}
.sidsites-border-yellow,.sidsites-hover-border-yellow:hover{border-color:#ffeb3b!important}
.sidsites-border-white,.sidsites-hover-border-white:hover{border-color:#fff!important}
.sidsites-border-black,.sidsites-hover-border-black:hover{border-color:#000!important}
.sidsites-border-grey,.sidsites-hover-border-grey:hover,.sidsites-border-gray,.sidsites-hover-border-gray:hover{border-color:#9e9e9e!important}
.sidsites-border-light-grey,.sidsites-hover-border-light-grey:hover,.sidsites-border-light-gray,.sidsites-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.sidsites-border-dark-grey,.sidsites-hover-border-dark-grey:hover,.sidsites-border-dark-gray,.sidsites-hover-border-dark-gray:hover{border-color:#616161!important}
.sidsites-border-pale-red,.sidsites-hover-border-pale-red:hover{border-color:#ffe7e7!important}.sidsites-border-pale-green,.sidsites-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.sidsites-border-pale-yellow,.sidsites-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.sidsites-border-pale-blue,.sidsites-hover-border-pale-blue:hover{border-color:#e7ffff!important}   

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f22b0c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f22b0c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
