<!DOCTYPE html>
<html>
<title>Templates | SidSites</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../style.css">
  <meta name="description" content="Responsive Website Themes We have. Either you can select of those themes or demand a brand new">
 <meta name="keywords" content="SidSites, SidSites Themes, SidSites Templates">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
<body>
<!-- Navbar (sit on top) -->
<div class="sidsites-top">
  <div class="sidsites-bar sidsites-white sidsites-wide sidsites-padding sidsites-card">
    <a href="#" class="sidsites-bar-item sidsites-button"><img src="../img/sidsites-logo.png" width="100px" height="50px" /> <b>Themes</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="sidsites-right sidsites-hide-small">
      <a href="/" class="sidsites-bar-item sidsites-button">Back to Home</a>

    </div>
  </div>
</div>

<!-- Header -->
<header class="sidsites-display-container sidsites-content sidsites-wide" style="max-width:1500px;" id="home">
  <img class="sidsites-image" src="https://1.bp.blogspot.com/-j0yRrDYFhJI/YAaRipQ1LcI/AAAAAAAAECs/dhTyaP8-IlY775aE7zAYpip6oa-vpoUBQCLcBGAsYHQ/s0/430889.jpg" alt="Themes of SidSites" width="1500" height="800">
  <div class="sidsites-display-middle sidsites-margin-top sidsites-center">

  </div>
</header>

<!-- Page content -->
<div class="sidsites-content sidsites-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="sidsites-container sidsites-padding-32" id="projects">
    <h3 class="sidsites-border-bottom sidsites-border-light-grey sidsites-padding-16">Projects</h3>
  </div>

  <div class="sidsites-row-padding">
    <div class="sidsites-col l3 m6 sidsites-margin-bottom">
      <div class="sidsites-display-container">
        <div class="sidsites-display-topleft sidsites-black sidsites-padding">Theme #007</div>
        <img src="themes/007.png" alt="Theme 007" style="width:100%">
      </div>
    </div>
    <div class="sidsites-col l3 m6 sidsites-margin-bottom">
      <div class="sidsites-display-container">
        <div class="sidsites-display-topleft sidsites-black sidsites-padding">Theme #008</div>
        <img src="themes/008.png" alt="Theme 008" style="width:100%">
      </div>
    </div>
    <div class="sidsites-col l3 m6 sidsites-margin-bottom">
      <div class="sidsites-display-container">
        <div class="sidsites-display-topleft sidsites-black sidsites-padding">Theme #009</div>
        <img src="themes/009.png" alt="Theme 009" style="width:100%">
      </div>
    </div>
  </div>
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="sidsites-center sidsites-black sidsites-padding-16">
  <p>Powered by <a href="https://sidsites.in" target="_blank"><img src="../img/sidsites-logo-text-white.png" width="70"></a></p>
</footer>
</body>
</html>
