<html>
<title>Templates | SidSites.In</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="SidSites | We design digital products that help to grow businesses. We are a Gwalior based innovative internet marketing agency offering a one-stop solution for digital marketing, UI/UX, branding, and graphic design">
<meta name="keywords" content="SidSites, SidSites Global, SidSites Templates, Website Designer, Web Company, Web Agency, Web development agency">
<link rel='shortcut icon' type='image/x-icon' href='../images/favicon.ico'/>
<link rel="stylesheet" href="../css/services.css">
<link rel="stylesheet" href="../css/templates.css">
<link rel="stylesheet" href="../css/navbar.css">
<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
<style>
.hero {
	background-color: #000000;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg.webp);
 background-position: center;
	background-size: cover;
	color: #ffffff;
	padding: 1em;
	text-align: center;
 height: 500px;
}
</style>
<body>

<!-- Hero -->

<div class="hero" id="home">
<div style="margin-top:150;">
<a href="/"><img src="../images/logo.png" width="200px"></a>
	<h1>Start something that matters</h1>
	<p>Stop wasting valuable time with projects that just isn't you.</p>
</div>
</div>

<!-- Why Us -->

<h1 class="about_text">why us</h1>

<div class="icon_1"><img src="img/customize.webp" width="80" height="80"></div>

<p class="dolor_text">Customized website design for your business and Light speed is our priority</p>                   
<br>

<div class="icon_1"><img src="img/responsive.webp" width="80" height="80"></div>

<p class="dolor_text">Responsive designs Mobile friendly websites</p>                 
<br>

<div class="icon_1"><img src="img/ui.webp" width="80" height="80"></div>

<p class="dolor_text">Professional Design with optimized user experience</p>
<br>                    

<div class="icon_1"><img src="img/https.webp" width="80" height="80"></div>

<p class="dolor_text">Fully Secured websites by HTTPS</p>
<br>

<div class="icon_1"><img src="img/socialmedia.webp" width="80" height="80"></div>

<p class="dolor_text">Linked with Social Media and marketing automation</p>
<br>

<!-- Templates -->

<h1 class="about_text">templates</h1>
<div class="row">
  <div class="column">
    <img src="img/img1.png" alt="Prototype Template 1" style="width:100%">
  </div>
  <div class="column">
    <img src="img/img2.png" alt="Prototype Template 2" style="width:100%">
  </div>
<div class="column">
    <img src="img/img3.jpg" alt="Prototype Template 3" style="width:100%">
  </div>
  <div class="column">
    <img src="img/img4.png" alt="Prototype Template 4" style="width:100%">
  </div>
  <div class="column">
    <img src="img/img5.png" alt="Prototype Template 5" style="width:100%">
  </div>
  <div class="column">
    <img src="img/img6.png" alt="Prototype Template 6" style="width:100%">
  </div>
</div>
<br><br>
<center><img src="../images/logo.png" width="150px">
<br><br><a href="/" style="text-decoration: none; color: black;">Go Back to Home</a></center>
<br><br>
<!-- JS -->

<script src="../js/lazyloading.js"></script>
</body>
</html>
